.places {
    color: #FFFFFF;
    width: 92.5%;
    margin: 92px auto;
}

@media screen and (max-width: 1024px) {
    .places {
        padding-left: 48px;
    }
}

@media screen and (max-width: 768px) {
    .places {
        max-width: 720px;
        padding-left: 24px;
    }
}

@media screen and (max-width: 320px) {
    .places {
        max-width: 320px;
        padding-left: 0;
        padding-top: 0;
        padding-bottom: 17px;
    }
}