.lead {
    color: #FFFFFF;
    max-width: 984px;
    height: 1005px;
    padding-left: 148px;
    padding-bottom: 92px;
    margin-bottom: 0;
}

@media all and (max-width: 1024px) {
    .lead {
        max-width: 928px;
        height: 962px;
        padding-left: 48px;
    }
}

@media all and (max-width: 768px) {
    .lead {
        max-width: 768px;
        height: 862px;
        padding-left: 0;
    }
}

@media all and (max-width: 320px) {
    .lead {
        max-width: 320px;
        height: 406px;
        padding-left: 0;
        padding-bottom: 64px;
    }
}