.lead__image {
    background-image: url('../../../images/lead__image.jpg');
    max-width: 984px;
    height: 615px;
    padding-left: 148px;
}

@media all and (max-width: 1024px) {
    .lead__image {
        max-width: 928px;
        height: 580px;
        background-size: contain;
    }
}

@media all and (max-width: 768px) {
    .lead__image {
        max-width: 768px;
        height: 480px;
        background-size: contain;
    }
}

@media all and (max-width: 320px) {
    .lead__image {
        max-width: 320px;
        height: 200px;
        background-size: contain;
    }
}