.cover {
    max-width: 1184px;
    position: relative;
    margin: 92px auto 0;
    background-image: url(../../images/cover__background.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1024px) {
    .cover {    
        margin: 92px 0 0;
    }
}

@media all and (max-width: 768px) {
    .cover {    
        margin: 88px 0 0;
    }
}

@media all and (max-width: 320px) {
    .cover {    
        margin: 64px 0 0;
    }
}
