.cover__title {
    max-width: 560px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    z-index: 6;
    text-align: center;
    margin: 0;
}

@media screen and (max-width: 720px) {
    .cover__title {
        font-size: calc(11vw);
        line-height: 1;
        max-width: 80%;
    }
}